# Ignore environment files
.env
.env.*
temp/
logs/

cred.json

# Ignore compiled binary files (if any)
*.exe
*.dll
*.so
*.dylib

# Ignore log and temporary files
logs/
temp/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build and dependency directories
/bin/
/vendor/
/node_modules/
/bower_components/
firebase-config.json
tmp/build-errors.log
tmp/main
